:root {
	/* Neutral */

	--white: hsl(0, 9%, 98%);
	--black: hsl(0, 10%, 5%);

	--gray-100: hsl(216, 10%, 95%);
	--gray-200: hsl(216, 10%, 80%);
	--gray-300: hsl(216, 10%, 70%);
	--gray-400: hsl(216, 10%, 60%);
	--gray-500: hsl(216, 10%, 50%);
	--gray-600: hsl(216, 10%, 40%);
	--gray-700: hsl(216, 10%, 30%);
	--gray-800: hsl(216, 10%, 20%);
	--gray-900: hsl(216, 10%, 10%);

	/* Semantic */

	--primary: hsl(216, 100%, 50%);
	--danger: hsl(352, 70%, 50%);
	--success: hsl(160, 85%, 33%);
	--warning: hsl(47, 100%, 50%);
	--info: hsl(180, 80%, 40%);

	--blue-100: hsl(216, 100%, 90%);
	--blue-200: hsl(216, 100%, 80%);
	--blue-300: hsl(216, 100%, 70%);
	--blue-400: hsl(216, 100%, 60%);
	--blue-500: hsl(216, 100%, 50%);
	--blue-600: hsl(216, 100%, 40%);
	--blue-700: hsl(216, 100%, 30%);
	--blue-800: hsl(216, 100%, 20%);
	--blue-900: hsl(216, 100%, 10%);

	--red-100: hsl(352, 70%, 90%);
	--red-200: hsl(352, 70%, 80%);
	--red-300: hsl(352, 70%, 70%);
	--red-400: hsl(352, 70%, 60%);
	--red-500: hsl(352, 70%, 50%);
	--red-600: hsl(352, 70%, 40%);
	--red-700: hsl(352, 50%, 30%);
	--red-800: hsl(352, 50%, 20%);
	--red-900: hsl(352, 50%, 10%);

	--green-100: hsl(160, 93%, 93%);
	--green-200: hsl(160, 93%, 83%);
	--green-300: hsl(160, 93%, 73%);
	--green-400: hsl(160, 93%, 63%);
	--green-500: hsl(160, 93%, 53%);
	--green-600: hsl(160, 93%, 43%);
	--green-700: hsl(160, 85%, 33%);
	--green-800: hsl(160, 85%, 23%);
	--green-900: hsl(160, 85%, 13%);

	--yellow-100: hsl(47, 100%, 90%);
	--yellow-200: hsl(47, 100%, 80%);
	--yellow-300: hsl(47, 100%, 70%);
	--yellow-400: hsl(47, 100%, 60%);
	--yellow-500: hsl(47, 100%, 50%);
	--yellow-600: hsl(47, 100%, 40%);
	--yellow-700: hsl(47, 100%, 30%);
	--yellow-800: hsl(47, 100%, 20%);
	--yellow-900: hsl(47, 100%, 10%);

	--teal-100: hsl(180, 100%, 90%);
	--teal-200: hsl(180, 100%, 80%);
	--teal-300: hsl(180, 100%, 70%);
	--teal-400: hsl(180, 100%, 60%);
	--teal-500: hsl(180, 100%, 50%);
	--teal-600: hsl(180, 80%, 40%);
	--teal-700: hsl(180, 70%, 30%);
	--teal-800: hsl(180, 60%, 20%);
	--teal-900: hsl(180, 50%, 10%);
}
