:root {
	--text-color: #333;
	--bg-color: white;
}
body {
	background-color: var(--bg-color);
	color: var(--text-color);
}
nav {
	background-color: inherit;
}
.nav-menu {
	background-color: inherit;
}
.bar {
	background-color: var(--text-color);
}
#my-approach svg {
	stroke: var(--text-color);
}
.nav-link {
	transition: color 0.3s ease;
}
