@import url(typography.css);
@import url(spacing.css);
@import url(color.css);

*,
*:before,
*:after {
	box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0;
}
nav {
	width: 100%;
	height: 56px;
	background-color: gainsboro;
}
header,
#about-me {
	display: flex;
	flex-direction: column;
	gap: var(--space-10);
}
header {
	min-height: calc(100vh - 200px);
	height: auto;
}
header div:nth-last-of-type(2) {
	order: 1;
}
main {
	height: 100%;
}
#about-me {
	align-items: center;
}
#about-me div > img {
	max-width: var(--content-lg);
}
img {
	display: block;
	width: 100%;
	max-width: 800px;
	height: auto;
	margin: auto;
}
figcaption {
	margin-top: var(--space-3);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	header {
		flex-direction: row;
		align-items: center;
	}
	header div:nth-last-of-type(1) {
		order: 1;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	#about-me {
		flex-direction: row;
		align-items: flex-start;
	}
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
