@import url(typography.css);
@import url(spacing.css);
@import url(color.css);
@import url(layout.css);

*,
*:before,
*:after {
	box-sizing: border-box;
}
nav {
	width: 100%;
}
header {
	min-height: calc(100vh - 180px);
	height: auto;
}
.page-header {
	min-height: calc(100vh - 300px);
}
main {
	height: 100%;
}
#about-me div > img {
	max-width: var(--content-lg);
}
img {
	width: 100%;
	max-width: 800px;
	height: auto;
}
#my-approach svg {
	width: 48px;
	height: 48px;
	stroke-width: 1.5;
	stroke-linecap: round;
}
.card {
	width: 100%;
	border-width: 0.0625rem;
	border-style: solid;
	border-radius: 0.5rem;
}
footer > div,
footer > #copy {
	text-align: center;
}
footer ul {
	list-style: none;
}
.navbar > div {
	height: 56px;
}
.nav-menu {
	list-style: none;
}
.hamburger {
	cursor: pointer;
}
.bar {
	width: 32px;
	height: 3px;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 1rem;
}
.no-scroll {
	overflow: hidden;
	height: 100%;
}
@media (max-width: 768px) {
	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}
	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-9px) rotate(-45deg);
	}
	.nav-menu {
		width: 100%;
		height: 100vh;
		transition: 0.3s;
	}
	.nav-menu.active {
		left: 0;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.card {
		max-width: 20rem;
	}
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
