@import url(typography.css);
@import url(spacing.css);
@import url(color.css);

*,
*:before,
*:after {
	box-sizing: border-box;
}
body {
	position: relative;
}
nav {
	width: 100%;
}
header,
#about-me {
	display: flex;
	flex-direction: column;
	gap: var(--space-10);
}
header {
	min-height: calc(100vh - 180px);
	height: auto;
}
.page-header {
	min-height: calc(100vh - 300px);
}
header div:nth-last-of-type(2) {
	order: 1;
}
.container.page-header {
	justify-content: center;
	text-align: center;
}
main {
	height: 100%;
}
#about-me {
	align-items: center;
}
#about-me div > img {
	max-width: var(--content-lg);
}
img {
	display: block;
	width: 100%;
	max-width: 800px;
	height: auto;
}
#my-approach svg {
	width: 48px;
	height: 48px;
	stroke-width: 1.5;
	stroke-linecap: round;
}
#my-approach > div {
	display: flex;
	flex-direction: column;
	gap: var(--space-10);
}
.card {
	width: 100%;
	border-width: 0.0625rem;
	border-style: solid;
	border-radius: 0.5rem;
}
#connect div:last-child {
	display: none;
}
footer > div {
	text-align: center;
}
footer ul {
	list-style: none;
}
footer > #copy {
	display: block;
	text-align: center;
}
.navbar {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 2;
}
.navbar > div {
	height: 56px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-menu {
	display: flex;
	list-style: none;
}
.nav-link {
	display: block;
}
.hamburger {
	display: none;
	cursor: pointer;
}
.bar {
	display: block;
	width: 32px;
	height: 3px;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 1rem;
}
.no-scroll {
	overflow: hidden;
	height: 100%;
}
@media (max-width: 768px) {
	.hamburger {
		display: block;
	}
	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}
	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-9px) rotate(-45deg);
	}
	.nav-menu {
		position: fixed;
		left: -100%;
		top: 56px;
		flex-direction: column;
		width: 100%;
		height: 100vh;
		transition: 0.3s;
	}
	.nav-menu.active {
		left: 0;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	header {
		flex-direction: row;
		align-items: center;
	}
	header div:nth-last-of-type(1) {
		order: 1;
	}
	#connect {
		display: flex;
		flex-direction: row;
		gap: var(--space-10);
	}
	#connect div:last-child {
		display: block;
	}
	footer > div {
		display: flex;
		justify-content: space-between;
		gap: var(--space-10);
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	#about-me {
		flex-direction: row;
		align-items: flex-start;
	}
	#my-approach > div {
		flex-direction: row;
		justify-content: space-between;
		gap: var(--space-5);
	}
	.card {
		max-width: 20rem;
	}
	footer > div {
		display: flex;
		justify-content: space-between;
		gap: var(--space-10);
	}
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
