@font-face {
	font-family: Lora;
	src: url(../fonts/Lora/Lora-VariableFont_wght.ttf);
	font-weight: 100 900;
	font-display: swap;
}

@font-face {
	font-family: Montserrat;
	src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
	font-weight: 100 900;
	font-display: swap;
}

html {
	font-family:
		"Montserrat",
		system-ui,
		-apple-system,
		"Segoe UI",
		Roboto,
		sans-serif;
	font-size: 16px;
	line-height: 1.6;
	text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

small {
	font-size: 0.875rem;
	line-height: 1.5;
}

nav,
[type="button"],
[type="reset"],
[type="submit"],
button {
	letter-spacing: 0.5px;
	line-height: 1.4;
}

nav {
	font-family: inherit;
	font-weight: 500;
	font-size: 0.9375rem;
	letter-spacing: 0.5px;
}

nav a {
	text-decoration: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
	font-family: inherit;
	font-weight: 600;
}

h1,
h2,
h3,
h4 {
	margin-top: 2rem;
	margin-bottom: 0.75rem;
}

h1,
h2,
h3 {
	font-family: "Lora", Georgia, "Times New Roman", serif;
}

h1 {
	margin-bottom: 1rem;
	font-weight: 700;
	font-size: 2rem;
	line-height: 1.2;
	letter-spacing: -0.5px;
}

h2,
h3 {
	font-weight: 600;
	line-height: 1.3;
}

h2 {
	font-size: 1.625rem;
	letter-spacing: -0.3px;
}

h3 {
	font-size: 1.375rem;
}

h4 {
	font-family:
		"Montserrat",
		system-ui,
		-apple-system,
		"Segoe UI",
		Roboto,
		sans-serif;
	font-weight: 600;
	line-height: 1.4;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child {
	margin-top: 0;
}

p,
li,
blockquote {
	text-wrap: pretty;
}

p {
	margin-bottom: 1.25rem;
	max-width: 65ch;
}

ul,
ol {
	margin-bottom: 1.25rem;
	padding-left: 1.25rem;
}

li {
	margin-bottom: 0.25rem;
}

blockquote {
	max-width: 60ch;
	font-family: "Lora", Georgia, "Times New Roman", serif;
	font-size: 1.25rem;
	line-height: 1.5;
	font-weight: 500;
	margin: 2rem 0;
	padding-left: 1.5rem;
	border-left-width: 0.1875rem;
	border-left-style: solid;
}

strong {
	font-weight: 600;
}

em {
	font-style: italic;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 2.25rem;
	}

	h3 {
		font-size: 1.75rem;
	}

	h4 {
		font-size: 1.375rem;
	}
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	html {
		font-size: 17px;
	}
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
	html {
		font-size: 18px;
	}
}
