:root {
	--body-font: "Open Sans";
	--heading-font: Inter;
	--fallback-font: system-ui, sans-serif;
}

html {
	font-family: var(--body-font);
	font-size: 16px;
	line-height: 1.5;
}

/* HEADINGS */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--heading-font);
	padding: 0;
	margin: 0;
}

h1,
h2,
h3 {
	word-wrap: break-word;
	overflow-wrap: break-word;
}

h1 {
	font-size: clamp(1.75rem, 5.5vw, 2.75rem);
	line-height: 1.2;
	margin-bottom: 1rem;
	text-transform: uppercase;
}

h2 {
	font-size: clamp(1.5rem, 4.5vw, 2.25rem);
	line-height: 1.3;
	margin-bottom: 1.4rem;
}
h3 {
	font-size: clamp(1.25rem, 4vw, 1.75rem);
	line-height: 1.3;
	margin-bottom: 1.3rem;
}

h4 {
	font-size: clamp(1rem, 3.5vw, 1.25rem);
	line-height: 1.35;
	margin-bottom: 1.2rem;
}
h5 {
	font-size: clamp(1.125rem, 3vw, 1rem);
	line-height: 1.4;
	margin-bottom: 1.1rem;
}
h6 {
	font-size: 1rem;
	line-height: 1.4;
	margin-bottom: 1rem;
}

/* PARAGRAPHS */
p {
	padding: 0;
	margin: 0;
	font-family: var(--body-font);
	font-size: clamp(1rem, 1.5vw, 1.25rem);
	margin-bottom: 1rem;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

p + [role="button"] {
	margin-top: 0.5rem;
}

/* Small devices (sm) and up (>= 36rem) */
@media (min-width: 36rem) {
}

/* Medium devices (md) and up (>= 48rem) */
@media (min-width: 48rem) {
}

/* Large devices (lg) and up (>= 62rem) */
@media (min-width: 62rem) {
}

/* Extra large devices (xl) and up (>= 75rem) */
@media (min-width: 75rem) {
}

/* Extra extra large devices (xxl) and up (>= 87.5rem) */
@media (min-width: 87.5rem) {
}
